/* 
    Document   : caption
    Created on : May 15, 2012, 2:17:23 PM
    Author     : jonas
    Description: Stylesheet for the Caption extension
*/

.caption_wrapper{
    border: 1px solid #CCC;
    position: fixed;
    width: 250px;
    left: 132px;
    background-color: white;
    top: 163px;
    opacity: 0.9;
}


.caption_header {
    font-weight: bold;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #CCC;
    padding: 6px;
    font-size: 17px;
}

.controller_description {
 padding:5px;
}

.action_description {
    margin-top: 15px;
    padding:5px;
}