/* styles for layout */
html,body
{
    height:100%;
}

#wrap
{
    min-height: 100%; 
    padding-top:10px;
}

#main{
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}


.footer 
{
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding:20px;
    color:#ccc;
    background-color:#2C2C2C;
} 

.breadcrumb {
    margin-top: 50px!important;
}

#sidebar{
}
