body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, sans-serif;
    background-color:#EBB928;
}

li{
    list-style-type:none;
}
a{
    text-decoration:none;
}

.clearfix:after
{
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}


#page
{
    margin-top: 25px;
    margin-bottom: 5px;
    background: #EFEFEF;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-radius: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0px;
    -moz-box-shadow: 0px 0px 4px #c09821;
    -webkit-box-shadow: 0px 0px 4px #c09821;
    box-shadow: 0px 0px 4px #c09821;
}

#header
{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #CCC;
    background-color: #333;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#content
{
    float: left;
    margin-top: 15px;
    padding:15px;
}

#sidebar
{
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#logo a, #menu_auth a {
    color:#efefef;
}


#logo a{
    font-family: arial-black;
    font-weight: bold;
}

#menu_auth{
    float:right;
    position: relative;
    top: -33px;
}



div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
    position: relative;
    top: -26px;
    left: 17px;

}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #fff;
}

.portlet-content
{
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 0px;
    border: 1px solid #DDD;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

div.loading {
    background-color: #eee;
    background-image: url('ajax-loader.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
    display:block;
    width:20px;
    height:20px;
}
div.loading * {
    opacity: .8;
}

.grid-view{
    width:745px;
    padding: 0!important;

}

.grid-view table.items{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px #fff solid !important;

}

#menu-top {
    background: #fff; /* Show a solid color for older browsers */
    margin: auto;
    margin-bottom:15px;
}

#menu-top ul {
    font-size: 13px;
    list-style: none;
    margin: 0 0 0 -1px;
}

#menu-top li {
    float: left;
    position: relative;
    width: 250px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin-right:1px;
}


#menu-top >  ul>  li{
    height: 25px;
    padding-top: 11px;
    font-size: 14px;
    cursor:pointer;
    border-right: 1px dotted #DDD;
}


#menu-top a {
    display: block;
    padding: 0 1.2125em;
    text-decoration: none;
}


#menu-top ul ul {
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    top: 36px;
    left: -19px;
    width: 188px;
    z-index: 99999;
}

#menu-top ul ul a {
    background: #005355;
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-weight: normal;
    height: auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-shadow: #002B2C -1px -1px 0px;
    text-align: left;
    line-height: 2.8em;

}

#menu-top li:hover > a,
#menu-top ul ul :hover > a,
#menu-top a:focus {

}

#menu-top ul ul a:hover{
    background-color:#EBB928;
}

#menu-top li:hover > a,
#menu-top a:focus {

    color: #004345;
    text-shadow:none;
}
#menu-top ul li:hover > ul {
    display: block;
}

#menu-top > ul > li:hover{

    background-color:#ddd;

}

#menu-top > ul > li.active{
    -webkit-box-shadow: 1px 1px 8px #666;
    box-shadow: 1px 1px 8px #666;
    -moz-box-shadow: 1px 1px 8px #666;
}


.index_option_list li{
    width: 710px;
    height: 40px;
    margin: 0 0 18px 20px;
    background: #F1F1F1;
    border: 1px solid #CFCFCF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #dfdfdf;
    -webkit-box-shadow: 0px 0px 5px #dfdfdf;
    box-shadow: 0px 0px 5px #dfdfdf;
    font-weight: bold;
}

.index_option_list li a{
    height: 27px;
    padding-top: 12px;
    display: block;
    padding-left: 15px;
}


.index_option_list li:hover{
    background-color:#ddd;
}

.last_entry{
    border: 1px solid #CCC;
    padding: 10px;
    margin-top: 25px;
}


/*Candidate preview */
#candidate_preview{
    position: fixed;
    margin: auto auto;
    top: 270px;
    right: 50%;
    background: url('iphone_template.png') no-repeat;
    background-size: 270px;
    width: 300px;
    min-height: 500px;
    left: 64%;
}

.list_preview{
    min-height:10px;
    padding:5px;
    margin:5px;
}

.input_preview{
    min-height:20px;
    padding:5px;
    margin:5px;
}

#iphone_bg{
    background-color: white;
    width: 221px;
    top: 96px;
    position: relative;
    left: 25px;
    height: 320px;
    overflow: auto;
}

#iphone_bg li{
    list-style-type: disc;
}

