/* styles for layout */
html,body
{
    height:100%;
}

#wrap
{
    min-height: 100%; 
    padding-top:10px;
}

#main{
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}


.footer 
{
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding:20px;
    color:#555;
    border-top:1px solid #eee;
    font-weight:bold;
    background-color:#efefef;
    text-align:center;
} 

.breadcrumb {
    margin-top: 50px!important;
}

#sidebar{
}

.candidate_issue_item,
.ballot_news_item{
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
}

#id_candidate_issue {
    border: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.floatright{
    float:right;
}