html/.htaccess
html/protected/config/*
html/content/*
html/img/*
html/protected/admin/config/main.php
html/protected/config/main.php
html/protected/api/config/main.php
/var/www/mvg.winningmark.com/html/themes/hslf_frontend/css/client_app.css
/.dotcloud/
/nbproject/private/
