.list_preview{
    width:200px;
    min-height:10px;
    border:1px solid #ccc; 
    padding:5px;
    margin:5px;
}

.input_preview{
    width:200px;
    min-height:30px;
    border:1px solid #ccc; 
    padding:5px;
    margin:5px;
}
