.list_preview{
    min-height:10px;
    border:1px solid #ccc; 
    padding:5px;
    margin:5px;
}

.input_preview{
    min-height:20px;
    border:1px solid #ccc; 
    padding:5px;
    margin:5px;
}
