.list_preview{
    min-height:10px;
    padding:5px;
    margin:5px;
}

.input_preview{
    min-height:20px;
    padding:5px;
    margin:5px;
}

#iphone_bg{
    background-color: white;
    width: 220px;
    top: 96px;
    position: relative;
    left: 27px;
    height: 320px;
    overflow: auto;
}
