/* 
    Document   : app.css
    Created on : Jun 19, 2012, 4:29:57 PM
    Author     : jonas
    Description: Style sheet for the mobile application! DO not delete
*/

root { 
    display: block;
}
