/* styles for layout */
html,body
{
    height:100%;
}

body{



    background: #fbfbfa url('/static/global/img/white-noise.png') top right repeat !important;
}

h1{
    color:#DD5336!important;
}
h4{
    color:#36A1DD !important;
    margin-bottom:5px!important;
}
#content h1{
    margin-bottom:10px;
}
.container{
    min-height: 91%; 

}

#container{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: white;
    padding:20px;
}

#main{
    overflow:auto;
}

.footer 
{
    position: relative;
    height: 25px;
    clear:both;
    padding:10px;
    color:#8E8E8C;
    text-align:center;
    font-size: 14px;

    background: #111 url('/static/global/img/white-noise.png') top right repeat !important;

    border-top: 1px solid #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
} 

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.not_found{
       height:400px;
    text-align:center;
}

.not_found .code{
    color:#DD5336;
    font-size:20em;
    margin-top:15%;

}

.not_found .reason{
    color:#666;
    font-size:1em;
     margin-top:10%;
}