*{
    margin:0;
    padding:0;
}
html, body {height: 100%;}

#wrap {min-height: 75%;}

#header{
    font-size: 1.5em;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    background-color:#036;
    color:#fff;
}

#header a{
    text-decoration:none;
    color:#fff;
}

#page{
    width: 50em;
    margin: auto;
}

#content{
    float:left;
}

#sidebar {
    min-height: 400px;
    width: 300px;
    float: left;
}



#footer{
    font-size: 1em;
    text-align: center;
    padding-top: 50px;
    background-color:#036;
    color:#fff;
    height: 50px;
    clear:both;
}

.item .view .item_news_item{
    margin-bottom: 15px;
    border: 1px solid  #eee;
    padding: 15px;
}

.item .view .item_news_title{
    font-weight:bold;

}


.item .view .item_news_content{

}

.item .view .item_news_date_published{
    font-size:12px;
    color:#333;
}

