/* 
    Document   : app.css
    Created on : Jun 19, 2012, 4:29:57 PM
    Author     : jonas
    Description: Style shit for the mobile application! DO not delete or serious ass-kicking will happen!!
*/

root { 
    display: block;
}

