


div.form input,
div.form textarea,
div.form select
{
    margin: 0.2em 0 0.5em 0;
}

div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}

div.form .row
{
    margin: 5px 0;
}

div.form .hint
{
    margin: 0;
    padding: 0;
    color: #999;
}

div.form .note
{
    font-style: italic;
}

div.form span.required
{
    color: red;
}

.errorMessage{
    margin-bottom:10px;
}
div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
    color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    background: #F2DEDE;
    border-color: #EED3D7;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{

}

.delete_tag{
    font-weight:bold;
    color:#DD5336;
}


div.form .errorSummary
{
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    margin: 0 0 20px 0;
    font-size: 0.9em;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.form .errorMessage
{
    color: #B94A48;
    font-size: 0.9em;
}

div.form .errorSummary p
{
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul
{
    margin: 0;
    padding: 0 0 0 20px;
}

div.wide.form label
{
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: right;
    width: 100px;
}

div.wide.form .row
{
    clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
    clear: left;
    padding-left: 110px;
}


.audience_type_label{
    float:left;
    width:100px;
}

.important_alert_box{
    border: 2px solid #ff0000;
    padding: 15px;
    font-size: 25px;
    background-color: #fff;
    color: red;
}

div.left_col, div.right_col{
    width:48%;
}
div.left_col{
    float:left;
}

div.right_col{
    float:right;

}

.ui-datepicker-trigger {
    margin-top: 5px;
    margin-left: 5px;
    cursor:pointer;
}

input{
    height:20px;
}

.pill_btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #CCC;
    font-weight: bold;
    float: right;
}

.item_image_url{
    width:200px;
}

.update_box{
    padding: 10px;
    font-weight: bold;
    border: 1px solid #194367;
    text-align:center;
    margin-bottom:10px;
}

.alignLeft{
    float:left;
}

.alignRight{
    float:right;
}

.ajax_wheel_spin{
    display: block;
    text-align: center;
}

/*login form*/



.login-box {
    min-width: 400px;
    width:50%;
    margin: 100px auto;
    background: #fff;
    color: #666;
    overflow: hidden;
    border: 1px solid #D9D7CC;
    border-radius: 4px;
    box-shadow: rgba(128, 126, 115, .3) 0 2px 3px;
}

.login-box .icons {
    text-align: right;
    margin: 20px 15px;

}

.login-box .icons i {
    text-align: right;
    opacity: .2;
    filter: alpha(opacity=20);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    margin: 0px 5px;
}



.login-box h2 {
    color: #646464;
    margin-left: 30px;
    font-weight: normal;
}

.login-box h3 {
    color: #646464;
    margin-left: 30px;
    font-weight: normal;
}

.login-box p {
    margin: 10px 30px;
    font-weight: normal;
}

.login-box .input-prepend {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    border-left: 3px solid #fff;
}

.login-box .prepend{
    padding: 15px 0px 0 35px;
}

.login-box .input-prepend-focus {
    background: #fcfcfc;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    border-left: 3px solid #646464;
}

.login-box .add-on {
    border: 1px solid #eee !important;
    background: #fff;
    margin-left: -10px;
}

.login-box .add-on i{
    opacity: .1;
    filter: alpha(opacity=10);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: 1px solid #eee !important;
    color: #666;
    border-left: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login-box .remember {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.login-box .button-login {
}

.halflings-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url('/themes/dashboard/img/glyphicons_halflings.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: top;
}

.halflings-icon.user {
    background-position: -168px 0;
}

.halflings-icon.email {
    background-position: -70px 0;
}


.halflings-icon.lock {
    background-position: -287px -24px;
}

.helpText{
    color: #777;
}