/* styles for layout */
html,body
{
    height:100%;
}

body{
    background-color:#EFEFEF!important;
}

h1{
    color:#DD5336!important;
}
h4{
    color:#36A1DD !important;
    margin-bottom:5px!important;
}
#content h1{
    margin-bottom:10px;
}
.container{
    min-height: 90%; 

}

#container{
    background-color: white;
    padding:20px;
}

#wrap
{
    margin-top:75px;

}

#main{
    overflow:auto;

}


.footer 
{
    position: relative;
    height: 15px;
    clear:both;
    padding:20px;
    color:#333;
    border-top:1px solid #eee;
    font-weight:bold;
    text-align:center;
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #eee;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
} 



#sidebar{
}

.candidate_issue_item,
.news_item{
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    border-radius:2px;
}

#id_candidate_issue {
    border: 1px solid #CCC;
    padding: 5px;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.floatright{
    float:right;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.resize-vertical{
    resize:vertical;
    overflow:auto;
}

.subnav.navbar-fixed-top {
    top: 40px;
    z-index: 10;
}