Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on


#RewriteCond %{HTTPS} !=on
#RewriteRule ^api(.*) https://www.voterguide.com/api/$1 [R,L, QSA]


# Make the backend accessible via url: http://site/admin
RewriteRule admin admin.php

# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Make the api accessible via url: http://site/api
RewriteRule api api.php

# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.php.
RewriteRule . index.php

