.chart{
    margin-bottom:15px;
    min-height:250px;
}

.helpBtn{
    float:right;
    position: relative;
    top: -15px;
}

#totalUserRegistrationHeader{
    float:left;
}

#totalUserRegistrationIcon{
    margin-top: 23px;
    margin-left: 5px;
    float: left;
}